server:
  port: 8087
spring:
  application:
    name: MultiTenant
  datasource:
    
    url: jdbc:postgresql://localhost:5432/invoice
    username: 'postgres'
    password: 'root'
   
    driver-class-name: org.postgresql.Driver
  jpa:
  show_sql: true
  properties:
      hibernate:      
        hbm2ddl:
          auto: none
